@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}

body {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.size {
  @apply w-[95%] mx-auto lg:w-[85%];
}

.shadowCard {
  box-shadow: 0px 10px 29px 0px rgb(234, 234, 234);
}

.shadowCard2 {
  box-shadow: 0px 8px 29px 3px rgb(234, 234, 234);
}

/* stepper  */
@media (max-width: 700px) {
  .MuiStepper-root {
    flex-wrap: wrap !important;
    gap: 1rem;
    align-items: center !important;
    justify-content: center !important;
  }

  .MuiStepConnector-line {
    display: none !important;
    background: red !important;
  }

  .MuiStepConnector-root {
    flex: 0 !important;
  }
}

// remove number input arrows
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// input error message
.error {
  display: none;
}

.input:invalid ~ .error {
  display: block;
}
